.navbar {
    width: 100%;
    background-color: rgb(102, 23, 23); /* Dark chocolate tone */
    padding: 1rem 2rem;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-title {
    font-size: 3rem;
    color: rgb(255, 245, 230); 
    font-weight: bold;
  }
  